<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

  <script >

    function changeFormUrl(url,formId,name,game) {

      let gameVal = $('#'+game).val();
      let nameVal = $('#'+name).val();

      url= url.replace("{0}",gameVal)
      url= url.replace("{1}",nameVal)
      $('#'+formId).attr('action',url)
    }
  </script>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Getting Started with Go on Heroku</h1>
      <p>This is a sample Go application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-go"><span class="glyphiconglyphicon-flash"></span> Getting Started with Go</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/go-getting-started"><span class="glyphiconglyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">

  <div class="d-flex p-2 bd-highlight">
    <h2> Nueva</h2>
    <form method="post" action="/games/players/name" id="newForm">
      <div style="display: flex; flex-direction: column;" class="d-flex flex-column bd-highlight mb-3">

      Nombre: <input id="newName" type="text" name="player" onkeyup="changeFormUrl('joinForm',this.value,'name')"><br>
      <input type="submit" class="btn btn-lg btn-primary" value="Crear"
             onclick=" changeFormUrl('/games/players/{1}','newForm','newName','')">
      </div>
    </form>

  </div>
  <div class="d-flex p-2 bd-highlight">
    <h2> Unirse</h2>
    <form method="post" action="/games/id/players/name" id="joinForm">
      <div style="display: flex; flex-direction: column;" class="d-flex flex-column bd-highlight mb-3">

      Nombre: <input id="joinName" type="text" name="player" onkeyup="changeFormUrl('joinForm',this.value,'name')"><br>
      Numero de partida: <input id="joinGameId" type="number" name="gameId" onkeyup="changeFormUrl('joinForm',this.value,'id')"><br>
      <input type="submit" class="btn btn-lg btn-primary" value="Unirse"
             onclick=" changeFormUrl('/games/{0}/players/{1}','joinForm','joinName','joinGameId')">
      </div>
    </form>

  </div>
</div>

</body>
</html>
